{% extends "base.html" %}
{% block content %}
<h1>About us</h1>
<p>We are a group of researchers at the <br/> <a href="https://game.itu.dk/" target='_blank'>Center for Computer Games Research at the IT University of Copenhagen</a>.</p>
<ul>
    <li style="font-size: 25px;"><a href="https://www.miguelgondu.com/about/" target='_blank'>Miguel González Duque</a></li>
    <li style="font-size: 25px;"><a href="https://www.linkedin.com/in/rasmus-berg-palm-46319451/">Rasmus Berg Palm</a></li>
    <li style="font-size: 25px;"><a href="http://sebastianrisi.com/" target='_blank'>Sebastian Risi</a></li>
</ul>

<p>In this project, we apply a tool called <a href="https://www.cs.ox.ac.uk/people/nando.defreitas/publications/BayesOptLoop.pdf" target='_blank'>Bayesian Optimization</a> to model the time it takes for you to solve a sudoku given a certain amount of digits in the grid.</p>
{% endblock %}