{% extends "base.html" %}
{% block content %}
  <h1 style="text-align: center;">Adaptive Sudoku</h1>
  <h2>Do you want to participate in our experiment?</h2>
  
  <p>
    Solve these sudokus <strong>as fast as you can</strong>!
  </p>
  <p>
    Our system will adapt and present you a sudoku that takes close to 3 minutes to solve.
  </p>
  
  <form style="text-align: center;" action="{{ url_for('next') }}">
    <div class="button-container">
      <input type="submit" value="Go!">
    </div>
  </form>
{% endblock %}