{% extends "base.html" %}
{% block content %}
<form style="padding-top: 5%;" action="{{ url_for('solution') }}" method="post" name="sudoku-input" autocomplete="off">
  {% for i in range(sudoku | length) %}
    <div class="grid-row">
      {% for j in range(sudoku[0] | length) %}
        {% if sudoku[i][j] == 0 %}
        <div class="grid-cell">
          <input type="text" maxlength="1" name='solved_sudoku[{{i}}][{{j}}]' class="def-txt-input">
        </div>
        {% else %}
        <div class="grid-cell-prefilled">
            <input type="number" maxlength="1" name='solved_sudoku[{{i}}][{{j}}]' value="{{ sudoku[i][j] }}" readonly>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
  <input type="text" name="username" autocomplete="off" value="{{ username }}" readonly>
  <div class="button-container">
    <input type="submit" value="Solve" class="btn btn-primary btn-block">
  </div>
</form>
{% endblock %}